<div id="mainbody">
<h2>Editing dial plan policy</h2>

<%= render 'form' %>

<div class="phonebook">
<%= link_to_modal  'Show', @dial_plan_policy %>|
<%= link_to 'Back', dial_plan_policies_path %>
</div>
</div>