<div id="mainbody">
<h2>Editing Client policy</h2>

<%= render 'form' %>

<div class="serverlist">
<%= link_to_modal  'Show', @client_policy %>|
<%= link_to 'Back', client_policies_path %>
</div>
</div>
