<div id="mainbody">
<h2>Editing extension range</h2>

<%= render 'form' %>

<div class="phonebook">
<%= link_to 'Show', @extension_range %> |
<%= link_to 'Back', extension_ranges_path %>
</div>
</div>