<div id="mainbody">
<h2>Editing dialling_right</h2>

<%= render 'form' %>

<div class="phonebook">
<%= link_to_modal 'Show', @dialling_right %> |
<%= link_to 'Back', dialling_rights_path %>
</div>
</div>
